In [1]:
%load_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd
import scipy.stats
from scipy.stats import norm

import edhec_risk_kit_129 as erk

In [2]:
me_m = pd.read_csv("data/Portfolios_Formed_on_ME_monthly_EW.csv",
                       header=0, index_col=0, na_values=-99.99)
me_m.head()

,<= 0,Lo 30,Med 40,Hi 30,Lo 20,Qnt 2,Qnt 3,Qnt 4,Hi 20,Lo 10,Dec 2,Dec 3,Dec 4,Dec 5,Dec 6,Dec 7,Dec 8,Dec 9,Hi 10
192607,NaN,-0.43,1.52,2.68,-0.57,0.59,1.60,1.47,3.33,-1.45,0.29,-0.15,1.33,1.24,1.98,1.55,1.38,3.38,3.29
192608,NaN,3.90,3.04,2.09,3.84,3.59,3.71,1.61,2.33,5.12,2.59,4.03,3.15,2.72,4.72,1.60,1.63,0.98,3.70
192609,NaN,-1.08,-0.54,0.16,-0.48,-1.40,0.00,-0.50,-0.09,0.93,-1.87,-2.27,-0.53,0.07,-0.07,-1.64,0.64,-0.86,0.67
192610,NaN,-3.32,-3.52,-3.06,-3.29,-4.10,-2.89,-3.36,-2.95,-4.84,-1.77,-3.36,-4.83,-2.98,-2.80,-3.45,-3.27,-3.47,-2.43
192611,NaN,-0.46,3.82,3.09,-0.55,2.18,3.41,3.39,3.16,-0.78,-0.32,-0.29,4.65,3.24,3.57,3.82,2.95,3.61,2.70

In [5]:
rets = me_m[['Lo 20', 'Hi 20']]
rets = rets/100
rets.index = pd.to_datetime(rets.index, format="%Y%m").to_period('M')

In [10]:
erk.annualize_rets(rets, 12)

Lo 20    0.151977
Hi 20    0.098490
dtype: float64

In [11]:
erk.annualize_vol(rets,12)

Lo 20    0.336701
Hi 20    0.195116
dtype: float64

In [15]:
erk.annualize_rets(rets['1999':'2015'],12)

Lo 20    0.114426
Hi 20    0.062865
dtype: float64

In [16]:
erk.annualize_vol(rets['1999':'2015'],12)

Lo 20    0.228894
Hi 20    0.172713
dtype: float64

In [20]:
rets_sub = rets['1999':'2015']

In [25]:
# 9. max drawdown
erk.drawdown(rets_sub['Lo 20']).min()

Wealth           1034.189842
Previous Peak    1111.400000
Drawdown           -0.624809
dtype: float64

In [28]:
# 10.
out = erk.drawdown(rets_sub['Lo 20'])
out[out.Drawdown == out.min()['Drawdown']]

              Wealth  Previous Peak  Drawdown
2009-02  1804.729077    4810.164013 -0.624809

In [29]:
# 11. max drawdown
out_Hi = erk.drawdown(rets_sub['Hi 20'])
out_Hi.min()

Wealth            721.706638
Previous Peak    1015.300000
Drawdown           -0.552735
dtype: float64

In [31]:
out_Hi[out_Hi.Drawdown == out_Hi.min()['Drawdown']]

             Wealth  Previous Peak  Drawdown
2009-02  779.227076    1742.204449 -0.552735

In [32]:
# 13 - 16
hfi = pd.read_csv("data/edhec-hedgefundindices.csv",
                      header=0, index_col=0, parse_dates=True)
hfi = hfi/100
hfi.index = hfi.index.to_period('M')

In [33]:
hfi = hfi['2009':'2018']

In [36]:
erk.semideviation(hfi).sort_values()

Fixed Income Arbitrage    0.003321
Merger Arbitrage          0.003611
Global Macro              0.005075
Equity Market Neutral     0.005186
Relative Value            0.005711
Convertible Arbitrage     0.006681
Funds Of Funds            0.007948
Distressed Securities     0.009498
Event Driven              0.010135
CTA Global                0.010996
Long/Short Equity         0.012139
Emerging Markets          0.015276
Short Selling             0.021240
dtype: float64

In [38]:
erk.skewness(hfi).sort_values()

Equity Market Neutral    -0.896327
Funds Of Funds           -0.646908
Merger Arbitrage         -0.551065
Event Driven             -0.488821
Long/Short Equity        -0.463703
Distressed Securities    -0.254944
Emerging Markets          0.033123
CTA Global                0.052062
Relative Value            0.159953
Global Macro              0.348184
Short Selling             0.456518
Fixed Income Arbitrage    1.121453
Convertible Arbitrage     1.305911
dtype: float64

In [40]:
erk.kurtosis(hfi).sort_values()

CTA Global                2.591087
Merger Arbitrage          2.715238
Global Macro              3.164362
Distressed Securities     3.319725
Event Driven              3.620617
Funds Of Funds            3.816132
Long/Short Equity         4.115713
Short Selling             4.175832
Emerging Markets          4.401636
Relative Value            4.512482
Equity Market Neutral     5.071677
Fixed Income Arbitrage    6.406941
Convertible Arbitrage     6.775731
dtype: float64